@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.advayam-heading {
    font-family: "Righteous", sans-serif;
}

.input {
    height: 48px;
    width: 360px;
    display: flex;
    background-color: #202020;
    border: #ececec solid 1px;
    border-radius: 48px;
    color: #ececec;
    gap: 18px;
    box-sizing: border-box;
    padding: 0 12 0 12px;
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.second-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.loc-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.loc-input {
    height: 48px;
    width: 300px;
    background-color: #202020;
    border: #ececec solid 1px;
    border-radius: 48px;
    color: #ececec;
    box-sizing: border-box;
    padding: 0 18px;
}

.loc-button {
    height: 48px;
    width: 48px;
    background-color: #202020;
    border: #ececec solid 1px;
    border-radius: 999px;
    color: #ececec;
    box-sizing: border-box;
    cursor: pointer;
}

.cta-button {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.back-button {
    height: 48px;
    width: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border: #ececec solid 1px;
    border-radius: 48px;
    color: #ececec;
    cursor: pointer;
}

.create-button {
    height: 48px;
    width: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    border-radius: 48px;
    color: #202020;
    cursor: pointer;
}

.wizard-logo-holder {
    width: 120px;
    height: 120px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}